In [18]:
import pandas as pd
species = pd.read_csv(r"C:\Users\sony\Downloads\species.csv")
surveys = pd.read_csv(r"C:\Users\sony\Downloads\surveys.csv")

ss = pd.concat([species, surveys], copy = False)
ss.loc[:,:]

'''sx = ss[ss.sex == 'F']
sy = sx[sx.taxa == 'Rodent']
sy.taxa.value_counts()'''

ss[ss.sex == 'F'].taxa.value_counts()

2        NaN
6        NaN
8        NaN
9        NaN
10       NaN
14       NaN
15       NaN
16       NaN
19       NaN
20       NaN
21       NaN
29       NaN
30       NaN
31       NaN
32       NaN
34       NaN
35       NaN
36       NaN
38       NaN
40       NaN
41       NaN
43       NaN
47       NaN
48       NaN
49       NaN
50       NaN
51       NaN
64       NaN
65       NaN
67       NaN
        ...
35494    NaN
35496    NaN
35498    NaN
35499    NaN
35503    NaN
35504    NaN
35506    NaN
35507    NaN
35509    NaN
35514    NaN
35515    NaN
35516    NaN
35521    NaN
35522    NaN
35523    NaN
35525    NaN
35526    NaN
35528    NaN
35529    NaN
35530    NaN
35531    NaN
35532    NaN
35535    NaN
35536    NaN
35537    NaN
35539    NaN
35540    NaN
35541    NaN
35542    NaN
35546    NaN
Name: taxa, Length: 15690, dtype: object